html, body, #root {
    height: 100vh;
}

.btn {
    display: inline-block;
}

.bg-green {
    background: #3B4B28 !important;
}

.bg-beige {
    background: #CEC293;
}

.txt-green, .form-label {
    color: #3B4B28 !important;
}

.front .title {
    color: #3B4B28 !important;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto 80px;
}

.btn-green {
    background: #3B4B28;
    color: white;
}

.btn-beige {
    background: #CEC293;
    color: #816D42;
}

.senario_description {
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.beta {
    font-size: 1.2rem !important;
    color: crimson;
}

.delete {
    font-size: 1.2rem !important;
    color: crimson;
    position: absolute;
    right: 10px;
    cursor: pointer;
}